#editModal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: slategrey;
  }

  .modal-body {
    padding: 20px;
    background-color: lightblue;
    color: #000;
}
    
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }