.tweet {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  height: 120px;
  /* никогда не задавай фиксированную ширину и высоту. Для ширины юзай комбо max-width: 220px; & width:100%. Эффект такой же но компоненты становятся адаптивными.
    Высоту должен определять контент.Фиксированная высота нужна для тех элементов, которые не меняют размер, типо кнопок */
}
